{% extends "base.html" %} {% block content %}
<section>
  <div class="hero">
    <img
      src="https://cdn.mos.cms.futurecdn.net/ntFmJUZ8tw3ULD3tkBaAtf.jpg"
      class="img"
    />
  </div>
  <div class="main">
    <div class="title">Virtual Eye</div>
    <div class="sub">
      <div class="left">
        <div class="para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, maxime.
          Quidem dolorum, modi laborum totam, vel qui expedita officiis suscipit
          ad blanditiis repudiandae vitae repellendus. Dicta vero ducimus ex
          quam, voluptates qui animi mollitia deleniti, delectus, esse
          laboriosam incidunt ut non blanditiis facilis error possimus? Modi non
          provident repellendus facere eaque necessitatibus amet dignissimos
          dolores beatae excepturi aspernatur quos quae obcaecati perspiciatis
          soluta ducimus magnam eum reprehenderit quibusdam quisquam, voluptas
          dicta rerum. Autem cupiditate voluptas provident fugiat odit
          exercitationem eligendi nobis ratione, voluptate id nam minima,
          aliquid, facilis sequi perferendis doloribus consequatur accusantium
          sint ipsa suscipit a explicabo. Placeat, quam?
        </div>
      </div>
      <div class="right">
        <div class="para">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugit
          asperiores repudiandae praesentium autem porro ipsam numquam sit,
          tempora accusamus molestias voluptatum sunt nesciunt laboriosam
          consequuntur vitae exercitationem. Rerum, officiis. Alias eos
          obcaecati rem autem ipsam aliquam quae accusamus ad consectetur! Hic
          quis voluptatibus, alias ad inventore eaque. Nesciunt quaerat dolore
          eligendi, assumenda a ratione beatae vitae amet blanditiis cumque
          inventore adipisci corporis? Similique saepe impedit qui delectus
          neque ullam incidunt. Beatae veritatis consectetur hic nemo quisquam
          quis earum id rem, ex reprehenderit eos aperiam sed, magni, amet
          debitis itaque sapiente ipsa officia voluptas magnam reiciendis.
          Dolores perferendis recusandae veniam.
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
