{% extends "base.html" %} {% block content %}

<div class="card">
  <p class="message">
    <span>Are you sure you want logout? </span>
    <button class="logout-yes" id="yes">Yes</button>
    <button class="logout-no" id="no">No</button>
  </p>
</div>

<script>
  const yesBtn = document.getElementById("yes");
  const noBtn = document.getElementById("no");

  yesBtn.addEventListener("click", async (e) => {
    e.preventDefault();
    const res = await fetch("/logout-yes");
  });

  noBtn.addEventListener("click", async (e) => {
    e.preventDefault();
    const res = await fetch("/logout-no");
  });
</script>

{% endblock %}
